h1 {
    text-align: center;
    font-size: 10vw;
}

h2 {
    text-align: center;
    font-size: 7vw;
}

#desc {
    text-align: center;
    font-size: 3vw;
    width: 33%;
    margin: auto;
}

svg {
    display: block;
    margin: auto; /* horizontally centre */
}
