h1 {
    text-align: center;
    font-size: 10vw;
    background: -webkit-linear-gradient(#fff, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-size: 7vw;
    color: #bb0;
    margin: 2vw 0;
}

#desc {
    text-align: center;
    font-size: 3vw;
    width: 50%;
    margin: auto;
}

svg {
    display: block;
    margin: auto; /* horizontally centre */
}
